* {
  box-sizing: border-box;
}

body {
  margin: auto;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat (10, 1fr);
  grid-template-rows: auto;
}

header {
display: grid;
grid-column: 1 / 10;
background-color: #03a3df;
padding: 2rem;


}

nav ul li {
    float: left;
    list-style: none;
    padding: 1rem;
    font-family: arial;
    color: white;

}

nav ul li::after {
  content:"/";
  padding: 1rem;
}

.logo-header {
  position: absolute;

}

section {
 display: inline-grid;
 grid-column: 1 / 2;
 background-color: white;
 justify-content: center;
 padding: 2rem;

}

.class-page-section {
  display: inline-grid;
  grid-column: 2 / 3;
  background-color: white;
  justify-content: center;
  padding: 2rem;
}

section > h1 {
  color: black;
  display: grid;
  grid-column-start: 1;


}

section, h2 {
display: grid;
grid-column-start: 1;

}

.sign-up-section, form {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
}


p  {

  font-family: arial;
  font-size: 17px;


}

table {
  border-style: solid;
  border-width: thick;
  border-color: #444444;
}


table, li {

  font-family: arial;
  font-size: 17px;


}

button {
  font-size: 17px;
  background-color: #1b447f;
  color: white;
  font-family: arial;
  border-style: solid;
  border-width: thick;
  border-color: #444444;

}

p > button {
  font-size: 17px;
  background-color: #1b447f;
  color: white;
  font-family: arial;
  border-style: solid;
  border-width: thick;
  border-color: #444444;
}


aside {
  display: inline-grid;
  grid-column: 3;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ecb722;
  padding: 2rem;
}

aside, div {
  font-family: Arial;
  font-size: 17px;
  color: white;

}

h1 {
  display:grid;
  grid-column: 3 / 5;
  font-family: Arial;
  font-size: 40px;
  color: white;

}

.coach-header {
  font-size: 12px;
}

h2 {
  font-family: Arial;
  font-size: 24px;

}

h3 {
  color: #03a3df;
}



aside h6 {
  color: white;
  font-family: arial;
  font-size: 20px;
  border-color: white;
  border-style: dashed;
  border-color: black;
  padding: 2rem;
}

aside > h3 {
  color: white;
  align-content: center;
  font-size: 30px;
  font-family: arial;
}

footer {
  display: grid;
  grid-column: 1 / 10;
  background-color: black;
  padding: 2rem;
}

footer ul li {
  float: left;
  list-style: none;
  padding: 1rem;
  font-family: arial;
  color: white;

}

footer ul li::after {
  content:"/";
  padding: 1rem;
}

footer p {
  color: white;
}

label, select {
  display: block;
  margin: 20px;
  font-family: arial;
  font-size: 17px;

}

form {
  width: 80%;
  margin: 20px;
}

form, p {
  display: inline-block;
  margin: 20px;
  font-family: arial;
  font-size: 17px;
  font-weight: bold;


}

input[type="text"], input[type="email"], input[type="phone"] {
  background: grey;
  width: 85%;
  text: 300px;
  border:3px solid black;
  padding:5px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="phone"]:focus {
    background-color: pink;
  }



input[type="submit"] {
    color: white;
    background-color: #1b447f;
    border-color: #444444;
    border-style: solid;
    border-width: thick;
    font-family: arial;
    font-size: 30px;
    width: 200px;
    height: 100px;


    }

    input[type="submit"]:active {
      border-color: #03a3df;
    }

    textarea {
      vertical-align: top;

    }

    fieldset {
      border: none
    }
